<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>javaweb200603mvn</display-name>

	<!-- 注册servlet -->
	<servlet>
		<servlet-name>HelloController</servlet-name>
		<servlet-class>org.jgs1905.controller.HelloController</servlet-class>
		<init-param>
			<param-name>app_name</param-name>
			<param-value>jgs1905app</param-value>
		</init-param>
	</servlet>
	
	<!-- 绑定请求路径 -->
	<servlet-mapping>
		<servlet-name>HelloController</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

</web-app>